body{
    background:#f4f6f9;
}

.navbar-brand{
    font-weight:bold;
}

.card{
    border:none;
    border-radius:12px;
}

.card-header{
    font-weight:bold;
}

.btn{
    border-radius:8px;
}

.table{
    font-size:15px;
}

.footer{
    padding:15px;
    text-align:center;
    color:#777;
}